<div id="index-infraestruturas" class="container">
  <div class="row">
    <div class="col s12">
      <h1>Infraestrutura</h1>
    </div>
  </div>

  <div class="row filters">
    <div class="col s12">
      <button class="waves-effect waves-light btn selected" data-button="restaurante">Restaurante</button>
      <button class="waves-effect waves-light btn" data-button="salas-de-aula">Salas de Aula</button>
      <button class="waves-effect waves-light btn" data-button="area-externa">Área Externa</button>
      <button class="waves-effect waves-light btn" data-button="auditorio">Auditório</button>
      <button class="waves-effect waves-light btn" data-button="coluni">Coluni</button>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col s12">
      <%= render partial: 'infraestruturas/index' %>
    </div>
  </div>

</div>