<div class="container">
  <div id="cronograma">

    <div class="row">
      <div class="col s12">
        <h1>Cronograma</h1>
      </div>
    </div>
    <div class="divider"></div>

    <div class='cronograma-photo'>
      <%= image_tag('cronograma.png', class: 'responsive-img materialboxed') %>
    </div>

  </div>
</div>