<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Olá, <%= @user.name %></h2>
    <p>
      Parabéns, você acaba de se inscrever no CONEEAGRI UFF - 2016.<br/>
      Para concluir sua inscrição é necessário que você siga os passos a seguir:
      <br/>
      1 - Depositar a quantia de R$ <%= @inscricao.price %> na seguinte conta bancária:
      <br/>
      <br/>

      <div><strong>Agência: </strong> 1337</div>
      <div><strong>Conta Poupança: </strong> 25120-5</div>
      <div><strong>Banco: </strong> Caixa Econômica Federal</div>
      <div><strong>Favorecido: </strong> Arthur Loureiro de Andrade</div>
      <div><strong>CPF: </strong> 113.330.827-97</div>

      <br/>
      <br/>

      2 - Enviar o comprovante de pagamento para inscricoes@coneeagri.com.br

      <br/>
      <br/>
      Feito isso, você receberá um email de confirmação de pagamento e, consequentemente, de confirmação da sua inscrição.
      <br/>
      Caso não receba o email, favor entre em contato conosco ou através do email inscricoes@coneeagri.com.br
      ou pelo nosso site www.coneeagri.com.br.

      <br/>
      <br/>

      Atenciosamente,<br/>
      Comissão organizadora do CONEEAGRI UFF - 2016
    </p>
  </body>
</html>