<div class=" container index-inscricoes">
  <div class="row">
    <div class="col s12">
      <h1>Inscrições</h1>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-content">

      <%= react_component 'InscricoesIndex', {} %>

    </div>
  </div>
</div>