<div id="new-inscricao">
  <div class="container">
    <h1>Inscrição</h1>
    <div class="divider"></div>

    <div id="accordion">
      <div class="row header-accordion">
        <div class="col s12">
          <h6>Pacotes</h6>
        </div>
      </div>
      <div class="body-accordion">
        <div class="row">

          <div class="col"><p></p></div>
          <div class="col s12 m12 l5 pacote-inscricao">
            <input name="group1" type="radio" id="test1" />
            <div style="margin-left: 30px">
              <h5>1. Pacote número 1</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
              <span><strong>Valor: </strong>R$ 100,00</span>
            </div>
          </div>

          <div class="col"><p></p></div>

          <div class="col s12 m12 l5 pacote-inscricao">
            <input name="group1" type="radio" id="test1" />
            <div style="margin-left: 30px">
              <h5>2. Pacote número 3</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
              <span><strong>Valor: </strong>R$ 100,00</span>
            </div>
          </div>

        </div>
        <div class="row">

            <div class="col"><p></p></div>
            <div class="col s5 pacote-inscricao">
              <div><input name="group1" type="radio" id="test4" /></div>
              <div style="margin-left: 30px">
                <h5>3. Pacote número 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. </p>
                <span><strong>Valor: </strong>R$ 100,00</span>
              </div>
            </div>
            <div class="col"><p></p></div>
            <div class="col s5 pacote-inscricao">
              <input name="group1" type="radio" id="test4" disabled="disabled" />
              <div style="margin-left: 30px">
                <h5>4. Pacote número 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. </p>
                <span><strong>Valor: </strong>R$ 100,00</span>
              </div>
            </div>

          </div>
      </div>
    </div>

    <div id="accordion_2">
      <div class="row header-accordion">
        <div class="col s12">
          <h6>Pacotes Adicionais</h6>
        </div>
      </div>
      <div class="body-accordion">
        <div class="row">

          <div class="col"><p></p></div>
          <div class="col s12 m12 l5 pacote-inscricao">
            <input name="group1" type="radio" id="test1" />
            <div style="margin-left: 30px">
              <h5>1. Pacote número 1</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
              <span><strong>Valor: </strong>R$ 100,00</span>
            </div>
          </div>

          <div class="col"><p></p></div>

          <div class="col s12 m12 l5 pacote-inscricao">
            <input name="group1" type="radio" id="test1" />
            <div style="margin-left: 30px">
              <h5>2. Pacote número 3</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
              <span><strong>Valor: </strong>R$ 100,00</span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>