
<%
  step_wizard = <<-JSX
   <StepWizard>
    <Step title='Selecionar Pacote'
      id='select-package' nextButton={{name: 'Próximo'}} >

      <SelectPackage />
    </Step>

    <Step title='Dados pessoais'
      id='personal-data' nextButton={{name: 'Próximo'}} previewButton={{name: 'Anterior'}} >

    </Step>

    <Step title='Pagamento' id='payment'
      previewButton={{name: 'Anterior'}} concludeButton={{name: 'Finalizar'}} >

      <PaymentStep />
    </Step>
   </StepWizard>
  JSX
%>

<div id="new-inscricao">
  <div class="container">
    <div class="row">
      <div class="col s12">

        <%= render_jsx(step_wizard) %>

      </div>
    </div>
  </div>
</div>