<div class="container">
  <h1>Estruturas</h1>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12">
      <p> Aguarde! Em breve divulgaremos todas as informações sobre a estrutura que será disponibiliziada para você</p>
    </div>
  </div>
</div>