<div class="container" data-view="show-dashboard">
  <div class="row">
    <div class="col s12">

      <div class="col s12 m4 l3 menu-vertical">
        <ul>
          <li data-view="gerenciar-eventos-culturais"><%= link_to 'Gerenciar eventos culturais' %></li>
          <li data-view="gerenciar-eventos-academicos"><%= link_to 'Gerenciar eventos academicos' %></li>
          <li data-view="visualizar-inscricoes"><%= link_to 'Visualizar inscriçoes' %></li>
          <li data-view="logout"><%= link_to 'Logout' %></li>
        </ul>
      </div>

      <div class="col s12 m8 l9" data-view="main-container">

      </div>

    </div>
  </div>
</div>