/*
*= require_self
*= require_tree .
*/

@import "materialize";

html {
  //background-color: #e8f5e9;
  color: #1b5e20;
}

h1{
  font-size: 2.2em;
  line-height: 1.62rem;
  color: #1b5e20;
  font-weight: bold;
  margin: 0%;
}

.divider{
  background-color: #1b5e20;
}

.selected{
  color: white !important;
  background-color: #1b5e20 !important;
}

.btn-small{
  height: 30px;
  line-height: 27px;
  font-size: 11px;
  padding: 0 1rem;
}

section{
  margin-top: 20px;
}


nav {
  .button-collapse {
    float: right;
  }
}

.nav-wrapper{
  width: 80% !important;
}

#sidenav-overlay{
  z-index: 0;
}

//MAIN
main {
  .special-container{
    width: 80%;
    margin: 0px auto;
    max-width: 1280px;
  }

  .container {
    margin-top: 100px;
    width: 80%;
  }
}

//FOOTER
.page-footer{
  background-color: #a5d6a7 !important;
  color: #1b5e20;
  padding-top: 0px !important;
  border-top: 2px solid #1b5e20;
  font-weight: bold;
}

