/*
*= require_self
*= require_tree .
*/

@import "materialize";

h1{
  font-size: 3.2em;
  color: #81c784;
  font-weight: bold;
  margin: 0%;
}

.divider{
  background-color: #81c784;
}

section{
  margin-top: 20px;
}


nav {
  .button-collapse {
    float: right;
  }
}

#sidenav-overlay{
  z-index: 0;
}

//MAIN
main {
  .special-container{
    width: 80%;
    margin: 0px auto;
    max-width: 1280px;
  }

  .container {
    margin-top: 100px;
    width: 80%;
  }
}

//FOOTER
.page-footer{
  background-color: white !important;
  color: #81c784;
  padding-top: 0px !important;
  border-top: 2px solid #81c784;
  font-weight: bold;
}

