.btn{
  font-weight: bold;
  background-color: white;
  color: #a5d6a7;
  border: 2px solid;
  margin-left: 10px;

  &:hover, &:active, &:focus{
    color: white;
    background-color: #1b5e20;
  }

}

#eventos-academicos {
  li {
    &:hover {
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.events-header{
  color: #a5d6a7;
  font-weight: bold;
  font-size: 18px;
}

.event-body{
  margin: 20px 0px;
  color: #a5d6a7;
}