.btn{
  font-weight: bold;
  background-color: white;
  color: #a5d6a7;
  border: 2px solid;
  margin-left: 10px;

  &:hover, &:active, &:focus{
    color: white;
    background-color: #1b5e20;
  }
}

.day-title, .event-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.event-academic {

  ul {
    list-style-type: inherit;
  }
  
  li {
    list-style-type: inherit;
    padding-bottom: 15px;
  }

}