.input-with-errors {
  border-bottom: 1px solid red !important;
  margin-bottom: 0px !important;
}

.label-with-errors {
  color: red !important;
}

.text-error {
  color: red;
  margin-bottom: 15px;
}
