nav{
  position: fixed;
  z-index: 10;
  background: rgba(25, 95, 25, .4);

  .collapsible {
    border-top: none;

    li{
      &:hover{
        background-color: transparent;
      }
    }

    .collapsible-header {
      background-color: inherit;
      border: none;
    }
  }
  li{
    font-weight: bold;
  }

  .nav-wrapper{
    width: 90%;
    margin: 0 auto;
  }
}

.brand-logo{

  img{
    max-width: 80px;
  }

}