#index-infraestruturas{

  .photo-infraestrutura{
    max-width: 300px;
    margin: 0px 40px 0px 10px;
  }

  .div-description{
    position: relative;
    height: 200px;
    display: table;
  }

  .description-infraestrutura{
    display: table-cell;
    vertical-align: middle;
  }

  .salas-de-aula, .area-externa, .auditorio, .coluni{
    display: none;
  }

}
