#index-infraestruturas{

  @media screen and (max-width: 320px){
    .filters{
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px){
    .btn{
      width: 45%;
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 767px){
    .btn{
      width: 18.5%;
      margin-top: 10px;
    }
  }

  .photo-infraestrutura{
    max-width: 300px;
    margin: 0px 40px 0px 10px;
  }

  .div-description{
    position: relative;
    height: 200px;
    display: table;
  }

  .description-infraestrutura{
    display: table-cell;
    vertical-align: middle;
  }

  .salas-de-aula, .area-externa, .auditorio, .coluni{
    display: none;
  }

  .little-photos img{
    height: 115px;
  }


}
