.pacote-inscricao{
  background-color: #e0e0e0;
  min-height: 30%;
  padding: 1px 10px;
  margin-bottom: 20px;
}

#new-inscricao{

  .body-accordion{
    height: auto !important;
  }

  p{
    font-size: 14px;
  }

  .titulo-pacote{
    font-size: 18px;
  }

  .lote-inscricao{
    margin: 5px 0px;
  }

  #accordion{
    border: 1px solid #81c784;
    padding: 0px 12px;

    .header-accordion{
      background-color: #e0e0e0;
      border-bottom: 1px solid #81c784;
      &:hover{
        cursor: pointer;
      }
    }
  }

  .valores-pacote{
    span{
      margin: 0px 10px;
      font-size: 14px;
    }
  }

  #accordion_2{
    margin-top: 20px;
    padding: 0px 12px;
    border: 1px solid #1b5e20;

    .header-accordion{
      background-color: #e0e0e0;
      border-bottom: 1px solid #1b5e20;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.new-inscricao {

  .btn {
    color: #1b5e20;
    &:hover {
      color: white;
    }
    &:focus {
      color: white;
    }
  }

  .collapsible-header {
    background-color: #e0e0e0;
  }

  .errors {
    background-color: #e57373;
    border: 1px solid #b71c1c;

    span {
      padding: 10px 20px;
      color: black;
    }
  }

  .select-packages {
    padding: 10px;

    .package {
      label {
        color: #424242;
      }
    }

    .description {
      color: #757575;

      .value {
        margin-left: 30px;
        margin-top: 10px;
      }
    }
  }

  .collapsible-body {
    p {
      padding: 0px;
    }

    .package {
      padding: 10px 0px;
    }
  }

  .information {
    background-color: #fff59d;
    border: 1px solid #fbc02d;
    margin: 10px auto;
    width: 50%;
    text-align: center;

    span {
      padding: 10px;
    }
  }

  .inscricao-resumo {
    .terms {
      margin-top: 20px;
      margin-left: 20px;
    }

    .action-buttons {
      margin-top: 20px;
      padding-right: 20px;
      text-align: right;
    }
  }

}