.pacote-inscricao{
  background-color: #e0e0e0;
  min-height: 30%;
  padding: 1px 10px;
  margin-bottom: 20px;
}

#new-inscricao{
  font-size: 12px;

  .body-accordion{
    height: auto !important;
  }

  p{
    font-size: 14px;
  }

  .titulo-pacote{
    font-size: 18px;
  }

  #accordion{
    border: 1px solid #81c784;
    padding: 0px 12px;

    .header-accordion{
      background-color: #e0e0e0;
      border-bottom: 1px solid #81c784;
      &:hover{
        cursor: pointer;
      }
    }
  }

  .valores-pacote{
    span{
      margin: 0px 10px;
      font-size: 14px;
    }
  }

  #accordion_2{
    margin-top: 20px;
    padding: 0px 12px;
    border: 1px solid #81c784;

    .header-accordion{
      background-color: #e0e0e0;
      border-bottom: 1px solid #81c784;
      &:hover{
        cursor: pointer;
      }
    }
  }
}