//SLIDER

@media screen and (max-width: 600px){

  .slides-home{
    height: 45vh !important;
    margin-top: 10rem;
    opacity: 0.8;
  }

  .slider-home{
    height: 45vh !important;
    margin-top: 4rem;

    .indicators{
      bottom: 16px;
    }

    .left-align{
      margin-left: -80px;
    }

    .photo-1{
      h1 {
        color: #1b5e20;
        font-weight: bold;
        font-size: 20px !important;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        margin-left: 50px;
        line-height: 1.2em;
      }

      h3{
        color: #1b5e20;
        font-weight: bold;
        font-size:1.0rem;
        margin-top: 0px;
        margin-left: 50px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      }
    }

    .photo-2, .photo-3, .photo-4{

      .caption {
        h1 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.5em;
        }

        h2 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.0em;
          margin-top: -5px !important;
        }

        h3{
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.0em;
          margin-top: -5px !important;
        }
      }
    }

    .inscrever-home{
      text-align: center;
      button{
        bottom: 100px;
        font-weight: normal;
        font-size: 30px;
        opacity: 0.8;


        &:hover{
          opacity: 1.0;
          background-color: #1b5e20;
        }
      }
    }
  }

}

@media screen and (min-width: 992px){
  .slider-home{
    height: 100vh !important;

    .indicators{
      bottom: 50px;
    }

    .left-align{
      margin-left: -150px;
    }

    .photo-1{
      h1 {
        color: #1b5e20;
        font-weight: bold;
        font-size: 4.8rem;
        text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
      }

      h3{
        color: #1b5e20;
        font-weight: bold;
        font-size: 3.5rem;
        margin-top: 50px;
        text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
      }
    }

    .photo-2, .photo-3, .photo-4{

      .caption {
        h1 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 4.2rem;
          text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
        }

        h2 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 4.0rem;
          text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
        }

        h3{
          color: #1b5e20;
          font-weight: bold;
          text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
        }
      }
    }

    .inscrever-home{
      text-align: center;
      button{
        bottom: 100px;
        font-weight: normal;
        font-size: 30px;
        opacity: 0.8;


        &:hover{
          opacity: 1.0;
          background-color: #1b5e20;
        }
      }
    }
  }

  .slides-home{
    height: 100vh !important;
    opacity: 0.8;
  }

}

@media screen and (max-width: 992px) and (min-width: 600px) {

  .slides-home{
    height: 55vh !important;
    margin-top: 10rem;
    opacity: 0.8;
  }

  .slider-home{
    height: 55vh !important;
    margin-top: 4rem;

    .indicators{
      bottom: 30px;
    }

    .left-align{
      margin-left: -80px;
    }

    .photo-1{
      h1 {
        color: #1b5e20;
        font-weight: bold;
        font-size: 20px !important;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        margin-left: 50px;
        line-height: 1.2em;
      }

      h3{
        color: #1b5e20;
        font-weight: bold;
        font-size: 16px !important;
        margin-top: 0px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        margin-left: 50px;
        margin-top: 20px;
        line-height: 1.5em;
      }
    }

    .photo-2, .photo-3, .photo-4{

      .caption {
        h1 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.5em;
        }

        h2 {
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.5em;
          margin-top: -5px !important;
        }

        h3{
          color: #1b5e20;
          font-weight: bold;
          font-size: 18px !important;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
          line-height: 1.5em;
          margin-top: -5px !important;
        }
      }
    }

    .inscrever-home{
      text-align: center;
      button{
        bottom: 100px;
        font-weight: normal;
        font-size: 30px;
        opacity: 0.8;


        &:hover{
          opacity: 1.0;
          background-color: #1b5e20;
        }
      }
    }
  }

}

.divider{
  margin: 20px 0px;
}

//FOOTER
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.page-footer{
  .container {
    text-align: center;
  }
}

main {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
