.step-wizard {
  .step-wizard-menu-list {
    .active {
      font-weight: bold;
    }

    li {
      float: left;
    }
  }

  .step {
    border: 1px solid #1b5e20;
    min-height: 400px;
  }

  #select-package {
    .package {
      margin: 20px 10px;
      padding: 5px 20px;

      .package-name {
        font-size: 18px;
        color: #1b5e20;
      }
    }

    .divider {
      margin: 0px 30px;
    }
  }

  .step-wizard-action-buttons {
    .next-button {
      float: right;
    }
  }
}
