<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Mostra Científica</h1>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
      <div class="col s3" style="border-right: 1px solid">
        <%= link_to 'Download Edital', download_edital_path, :target => "_blank" %>

        <p>Faça o download do edital</p>
      </div>

      <div class="col s8" style="margin-left: 20px">
        <%= link_to 'Download Formulário', download_formulario_path %>

        <p>Submissão de artigos do dia 22/06 até o dia 17/08.
          Faça o download do formulário e envie o preenchido para o email <strong style="color: #81C784"> academico@coneeagri.com.br</strong></p>
      </div>
  </div>
</div>