    <div class="row">
      <div class="s4 m6 l12">
        <div class="slider slider-home">
            <ul class="slides slides-home">
                <li class="photo-1">
                    <%= image_tag('mac.jpg') %>
                    <div class="caption left-align">
                        <h1>XXIX CONEEAGRI UFF 2016</h1>
                        <h3>De 17 a 24 de Abril</h3>
                    </div>
                </li>
                <li class="photo-2">
                    <%= image_tag('agricola.jpg') %>
                    <div class="caption center-align">
                        <h2>"Engenheiro Agrícola e Ambiental:
                            urbano e rural, desafios tecnológicos,
                            logística, atuação e sustentabilidade"</h2>
                    </div>
                </li>
                <li class="photo-3">
                    <%= image_tag('plantacao.jpg') %>
                    <div class="caption center-align">
                        <h3>O MAIOR ENCONTRO DE ESTUDANTES DE ENGENHARIA AGRÍCOLA E ENGENHARIA AGRÍCOLA
                            E AMBIENTAL DO BRASIL</h3>
                    </div>
                </li>
                <li class="photo-4">
                    <%= image_tag('por_do_sol.jpg') %>
                    <div class="caption center-align">
                        <h1>INSCRIÇÕES A PARTIR DE 22/01/2016</h1>
                    </div>
                </li>
            </ul>
            <ul class="inscrever-home" style="display: none">
              <button class="waves-effect waves-light btn btn-large">INSCREVA-SE</button>
            </ul>
        </div>
      </div>
    </div>

    <div class="special-container">

    <div class="divider"></div>

       <div class="row">
           <div class="col l4">
               <%= image_tag('logo_maior.jpg', class: "responsive-img materialboxed") %>
           </div>
           <div class="col l8">
               <p>
                   O Congresso Nacional dos Estudantes de Engenharia Agrícola - CONEEAGRI é o evento direcionado aos estudantes do
                   curso de Engenharia Agrícola e Engenharia Agrícola e Ambiental do Brasil e
                   visa promover o debate das perspectivas tecnológicas e temas importantes para o desenvolvimento do país.
                   Além disso, estarão em destaque temas como:
               </p>
               <ol>
                 <li>
                    Estreitamento das relações entre o mercado de trabalho e a Universidade.
                 </li>
                 <li>
                    Debater futuras atividades da Federação dos Estudantes de Engenharia Agrícola e Engenharia Agrícola e Ambiental (FEEAGRI).
                  </li>
                  <li>
                    Conhecer os desafios da profissão.
                  </li>
              </ol>
        </div>
       </div>

    <div class="divider"></div>

      <div class="countDown">
          <div class="row" style="margin-bottom: 0px">
              <div class="col-sm-offset-3 col-sm-7">
                  <div class="timing circle">
                      <div id="count-down" data-date="2016-04-16 01:00:00">

                      </div>
                  </div>

              </div>
          </div>
      </div>

</div>



